<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NBug.Properties.Settings.Cipher" connectionString="K3lN/3qbeqfVlJ2r+mKN8djJZytHCdU1gz8E6pyNtKg=" />
    <add name="NBug.Properties.Settings.Destination1" connectionString="1SU/B2paEWhekbYeFGbGXNqg66CXWl66E3o9e19qUf7zsP7Wdbb3GcXOznlfgNGPNBx+/Y/6JWW6da9W3lokgzYRn20i8ebIx5TvpnNsvKW7GozN5ZSGMc1nMccPH1NqjrO56huU6ORLNHeqJXqLVdFBoPyJtFxMtgwdyDDbcHrbOQCrKHnVcymswcxfp4PgPup3eW/dQDjxs2B4rL7blY+JRmgI6US2D4tux/CokLIFdyG6Rm+iNYcQAa8c/sVW" />
  </connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Full</value>
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>WPF</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>CurrentDirectory</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>